.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 490px;
}

.About_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.About_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
}

.About img {
  width: auto;
  max-height: 300px;
}

.About_wrapper {
  max-width: 60%;
}

.About h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--darkGray);
}

.About p {
  font-weight: 300;
  font-size: 13px;
  color: var(--lightGray);
}
