.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 490px;
}

.About_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
}

.About_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
}

.About img {
  width: auto;
  max-width: 100%;
  max-height: 300px;
}

.About_wrapper {
  max-width: 60%;
}

.About h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--darkGray);
}

.About p {
  font-weight: 300;
  font-size: 13px;
  color: var(--lightGray);
}

@media screen and (max-width: 768px) {
  .About {
    grid-template-areas:
      "right"
      "left";
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    padding: 2rem;
    grid-gap: 20px;
  }
  .About_left {
    grid-area: left;
  }
  .About_right {
    align-items: center;
    grid-area: right;
    text-align: center;
    padding: 0;
  }
  .About_wrapper {
    max-width: 80%;
  }
}
