.FullyResponsive {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 570px;
}

.FullyResponsive_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FullyResponsive_wrapper {
  width: 600px;
}

.FullyResponsive h2 {
  font-weight: 400;
  color: var(--darkGray);
}

.FullyResponsive p {
  font-weight: 300;
  font-size: 15px;
  color: var(--lightGray);
  margin-bottom: 60px;
}

.FullyResponsive img {
  max-width: 100%;
  width: 100%;
}

.FullyResponsive_phoneWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FullyResponsive_leftPhone {
  position: relative;
  right: -10%;
  z-index: 15;
}

.FullyResponsive_rightPhone {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1023px) {
  .FullyResponsive h2 {
    font-size: 1.8rem;
  }
  .FullyResponsive p {
    font-size: 13px;
  }
  .FullyResponsive_wrapper {
    max-width: 400px;
    padding: 1rem;
  }
  .FullyResponsive_rightPhone {
    right: 5%;
  }
}

@media screen and (max-width: 568px) {
  .FullyResponsive h2 {
    font-size: 1.2rem;
  }
  .FullyResponsive p {
    font-size: 11px;
  }
  .FullyResponsive_wrapper {
    max-width: 300px;
    padding: 2rem;
  }
}
