.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

/* Header Bottom */
.Header_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -webkit-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -ms-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  height: 700px;
}

.Header_bottom h1 {
  font-size: 3.8rem;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
}

@media screen and (max-width: 1023px) {
  .Header_top {
    justify-content: space-around;
  }

  .Header_left {
    flex-basis: 50%;
    text-align: center;
  }

  .Header_left img {
    width: auto;
  }

  .Header_right {
    flex-basis: 50%;
  }

  .Header_right button {
    position: absolute;
    top: 20px;
    right: 0;
  }

  .Header_bottom {
    max-height: 400px;
  }

  .Header_bottom h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .Header_bottom {
    max-height: 300px;
  }
  .Header_bottom h1 {
    font-size: 2rem;
  }

  .actionButton {
    font-size: 12px;
    padding: 15px 45px;
  }
}

@media screen and (max-width: 320px) {
  .Header_bottom h1 {
    font-size: 1.5rem;
  }
}
