.Map {
  position: relative;
  height: 400px;
  background-color: rgb(35, 46, 61);
}

#map {
  width: 100%;
  height: 100%;
}

.Map_right {
  position: absolute;
  right: 5%;
  top: 30%;
}

.Map_address {
  width: 370px;
  height: 170px;
  background: #50e3cb;
  padding: 1.5rem 3rem;
}

.Map_address p {
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .Map_right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .Map_address {
    width: 100%;
  }
}
