.Map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;
  background-color: rgb(35, 46, 61);
}

.Map_right {
  display: flex;
  align-items: center;
  margin-left: 23%;
}

.Map_address {
  width: 370px;
  height: 170px;
  background: #50e3cb;
  padding: 1.5rem 3rem;
}

.Map_address p {
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .Map_right {
    align-items: flex-end;
    margin: 0;
  }
  .Map_address {
    width: 100%;
  }
}
