.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--linkSize);
  text-transform: uppercase;
}

.Navigation ul li {
  padding: 1rem 1.6rem;
  float: left;
  color: var(--darkGray);
}

.Navigation ul li.active {
  background-image: -moz-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -webkit-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -ms-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  padding: 16px 30px;
  border-radius: var(--borderRadius);
  color: #ffffff;
}

.Navigation a:link,
.Navigation a:visited,
.Navigation a:hover {
  color: var(--darkGray);
}

.Navigation a:hover {
  color: #10cab7;
}

.Navigation li.active a:hover {
  color: #ffffff;
}
