.Team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 730px;
}

.Team_wrapper {
  text-align: center;
  max-width: 50%;
}

.Team_wrapper h2 {
  font-weight: 400;
  color: var(--darkGray);
}

.Team_wrapper p {
  font-weight: 300;
  font-size: 13px;
  color: var(--lightGray);
}

.Team_membersWrapper {
  display: flex;
}

.Team_membersWrapper .card {
  max-width: 270px;
  margin: 0 15px;
  background: var(--teamBgColor);
  text-align: center;
}

.Team_membersWrapper .card .memberDetails {
  padding: 15px 25px;
}

.Team_membersWrapper .card h2 {
  font-weight: 500;
  color: var(--darkGray);
  font-size: 20px;
}

.Team_membersWrapper .card h3 {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

.Team_membersWrapper .card p {
  font-weight: 400;
  color: var(--darkGray);
  font-size: 15px;
}

@media screen and (max-width: 1023px) {
  .Team {
    height: auto;
    padding: 2rem;
  }

  .Team_wrapper h2 {
    font-size: 1.8rem;
  }

  .Team_membersWrapper .card h2 {
    font-weight: 1.8rem;
  }

  .Team_membersWrapper .card p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .Team_membersWrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Team_membersWrapper .card {
    max-width: 200px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 588px) {
  .Team_wrapper {
    max-width: 80%;
  }
  .Team_membersWrapper .card h2 {
    font-weight: 1.2rem;
  }

  .Team_membersWrapper .card p {
    font-size: 13px;
  }
}
