@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500");

:root {
  --borderRadius: 8px;
  --linkSize: 15px;
  --darkGray: #3f4244;
  --lightGray: #929ba0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  font-size: var(--linkSize);
}

h2 {
  font-size: 40px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header Top */

.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--linkSize);
  text-transform: uppercase;
}

.menu ul li {
  padding: 1rem 1.6rem;
  float: left;
  color: var(--darkGray);
}

.menu ul li.active {
  background-image: -moz-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -webkit-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -ms-linear-gradient(
    -90deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  padding: 16px 30px;
  border-radius: var(--borderRadius);
  color: #ffffff;
}

/* Action Button */
.actionButton {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 25px 65px;
  background-image: -moz-linear-gradient(
    -90deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
  background-image: -webkit-linear-gradient(
    -90deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
  background-image: -ms-linear-gradient(
    -90deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
  border-radius: var(--borderRadius);
}

/* Header Bottom */
.headerBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -webkit-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  background-image: -ms-linear-gradient(
    -89.727deg,
    rgb(109, 255, 198) 1%,
    rgb(63, 210, 206) 99%
  );
  height: 700px;
}

.headerBottom h1 {
  font-size: 3.8rem;
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
}

/* Services */
#serviceSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 271px;
  height: 276px;
  overflow: hidden;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 90px;
}

.card img {
  width: 129px;
  height: 129px;
}

.card h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--darkGray);
  margin-bottom: 2.5rem;
}

.card p {
  font-size: 13px;
  color: var(--lightGray);
}

/* Webpages */
#webpages {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 720px;
  background-image: -moz-linear-gradient(
    -82.192deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
  background-image: -webkit-linear-gradient(
    -82.192deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
  background-image: -ms-linear-gradient(
    -82.192deg,
    rgb(255, 108, 84) 1%,
    rgb(255, 43, 89) 99%
  );
}

#webpages .wrapper {
  margin-top: 50px;
  text-align: center;
  max-width: 770px;
}

#webpages h2 {
  font-weight: 400;
  color: #fff;
}

#webpages p {
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
}

.browser {
  position: relative;
  display: inline-block;
  align-self: center;
  justify-self: flex-end;
  bottom: -50px;
}

.browserWrapper {
}

.leftBrowser {
  z-index: 10;
  left: 250px;
}

.middleBrowser {
  z-index: 15;
}

.rightBrowser {
  z-index: 10;
  left: -250px;
}

/* Fully Responsive */
#fullyResponsive {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 570px;
}

#fullyResponsive .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fullyResponsive .wrapper {
  width: 600px;
}

#fullyResponsive h2 {
  font-weight: 300;
  font-style: italic;
  color: var(--darkGray);
}

#fullyResponsive p {
  font-weight: 300;
  font-size: 15px;
  color: var(--lightGray);
  margin-bottom: 60px;
}

#fullyResponsive .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  position: relative;
  display: inline-block;
}

.leftPhone {
  width: 214px;
  height: 434px;
  z-index: 15;
}

.rightPhone {
  width: 162px;
  height: 327px;
  left: -50px;
  bottom: -10px;
  z-index: 10;
}
